<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.progettos3">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".RegistrazioneUtenteActivity"
            android:theme="@style/AppTheme2" >

        </activity>
        <activity
            android:name=".ImageViewActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".GiancarloActivity"
            android:label="@string/title_activity_giancarlo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListFileActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.progettos3.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".InserimentoEsercizioActivity"
            android:label="Inserimento esercizio"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"></activity>
        <activity
            android:name=".CronometroEsercizioActivity"
            android:label="Cronometro esercizio"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".RicercaEsercizi"
            android:label="Ricerca esercizi"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>